.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 170px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.705);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: small;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Content
{
  font-size: 1.2em;
  text-align: left;
}

.Hide
{
  font-size: 1.0em;
  text-align: left;
}

.Button
{

  background-color: white; 
  border: 2px solid #008CBA;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  color: black;
  margin: 4px 2px;
  cursor: pointer;

}

.card {     
  display: inline-block;     
  text-align: center;     
  width: 3em;     
  font-size: 2em;     
  box-shadow: 0 4px 8px 0 rgba(20, 8, 8, 0.2);     
  margin: 1em;      
  user-select: none; 
}

.activeCard {     
  color: #ffff00; 
  background: #ffffcc; 
} 